@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    color: #fff;
}

body {
    background: #121212;
}

.LeftSide {
    position: fixed;
    width: 400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.LeftSide .bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.LeftSide .bar .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.LeftSide .bar img {
    width: 70px;
    height: 80px;
}

.LeftSide .bar .nav {
    display: flex;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
    transition: 0.3s
}

.LeftSide .bar .nav ion-icon {
    font-size: 24px;
}

.LeftSide .bar .nav.active,
.LeftSide .bar .nav:hover {
    background: #202020;
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 30px 420px;
}

header .search {
    background: #202020;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
    gap: 10px;
}

header .search input {
    background: transparent;
    border: none;
    font-size: 18px;
}

header .search input::placeholder {
    color: #9A9A9A;
}

header .search ion-icon {
    font-size: 18px;
}

header .profile {
    background: #202020;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

.Store {
    position: absolute;
    margin: 90px 400px;
    padding: 30px;
    background: #454545;
}